[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pytest-bdd = "*"
pylint = "*"

[requires]
python_version = "3.7"


[scripts]
lint = "pylint tests/step-defs"
test = "bash -c \"mkdir -p test-reports && pytest . --junitxml=test-reports/junit.xml\""